<html>
  <head>
    <title>Edit un potin</title>
  </head>
  <body>
    <h1>Edit un potin !</h1>
    <form action='/gossips/id/edit/' method='POST'>
      Saisi ici ton nom :  <input type='text' name='gossip_author_update'/><br/>
      Balance ton potin : <input type='text' name='gossip_content_update'/><br/>
      <input type='submit'/>
    </form>
  </body>
</html>